<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shopping List</title>
    <link rel="stylesheet" href="./css/materialize.css" />
    <style>
      li:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">Shopping List</a>
      </div>
    </nav>
    <ul></ul>
    <script>
      const electron = require("electron");
      const { ipcRenderer } = electron;
      const ul = document.querySelector("ul");

      //************** listeners *****************
      //Load window
      document.addEventListener("DOMContentLoaded", function () {
        ipcRenderer.send("mainWindowLoaded");
        ipcRenderer.on("resultSent", (vet, result) => {
          ul.className = "collection flow-text";
          for (let i = 0; i < result.length; i++) {
            const li = document.createElement("li");
            li.className = "collection-item";
            li.setAttribute("id", result[i].id);
            const itemText = document.createTextNode(result[i].item);
            li.appendChild(itemText);
            ul.appendChild(li);
          }
        });
      });

      // Catch item
      ipcRenderer.on("item:add", function (e, item) {
        ul.className = "collection flow-text";
        const li = document.createElement("li");
        li.className = "collection-item";
        const itemText = document.createTextNode(item);
        li.appendChild(itemText);
        ul.appendChild(li);
      });

      /* All Items Deletion */
      // Clear items
      ipcRenderer.on("items:clear", function () {
        let items = document.querySelectorAll("li");
        ul.innerHTML = "";
        ul.className = "";
        items.forEach((item) => {
          removeItem(item.id);
        });
      });

      /* Single Item Deletion */
      // Clear single items
      ul.addEventListener("dblclick", (e) => {
        let id = e.target.id;
        removeItem(id);
      });

      // listen for item:deleted
      ipcRenderer.on("item:deleted", (e, id) => {
        removeFromDom(id);
      });

      //************** functions *****************
      function removeItem(e) {
        // send item:delete with item id
        ipcRenderer.send("item:delete", e);
      }
      // remove item from DOM
      function removeFromDom(elId) {
        let el = document.getElementById(elId);
        el.remove();
        if (ul.children.length == 0) {
          ul.className = "";
        }
      }
    </script>
    <script src="./js/materialize.js"></script>
  </body>
</html>
